* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$tiny-mobile: 374px;
$mobile: 550px;
$color-haze: rgba(128, 128, 128, 0.219);
$color-backdrop: rgba(0, 0, 0, 0.8);
$color-backdrop-light: rgba(0, 0, 0, 0.75);
$color-backdrop-super-light: rgba(255, 255, 255, 0.1);

@mixin button-padding {
  padding: 0.5rem 1rem;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tiny-mobile {
  @media (max-width: $tiny-mobile) {
    @content;
  }
}

@mixin mobile_landscape {
  @media (max-height: 500px) and (max-width: 762px) {
    @content;
  }
}

@mixin mobile_plus {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet_plus {
  @media (min-width: 762px) {
    @content;
  }
}

@mixin tall_mobile {
  @media (min-height: 600px) {
    @content;
  }
}

.Layout {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background-color: #121212;

  @include mobile {
    min-height: 90vh;
    height: 90vh;
  }

  @include mobile_landscape {
    height: 90vh;
  }

  @keyframes spin-loader {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }

  .loading-spinner {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 5rem;
    z-index: 0;
    animation: spin-loader 2s infinite forwards linear;
  }
}

.Gallery {
  position: relative;
  height: 100%;
  // background-color: red;
  opacity: 0;
  z-index: 1;

  &.--loaded {
    transition: opacity 0.25s ease-out 2.5s;
    opacity: 1;
  }

  .city {
    height: 100%;
    z-index: 0;
  }

  .condition {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-position-x: center;
    background-position-y: center;

    @include mobile {
      background-position: center;
      background-size: auto 100%;
    }
  }

  .pannellum-appear {
    opacity: 0.1;
  }
  .pannellum-appear-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
}

.CitySelector {
  z-index: 3;
  color: white;
  display: flex;
  max-width: 762px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  position: absolute;
  bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  button {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 25%;

    @include mobile_plus {
      &:nth-of-type(even) {
        flex-direction: row-reverse;
        justify-content: flex-start;
      }
    }

    .arrow {
      position: relative;

      &::after {
        content: '';
        background-color: $color-backdrop-super-light;
        position: absolute;
        left: 0;
        top: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-55%);
        border-radius: 50%;
        z-index: -1;

        @include mobile_plus {
          height: 3.2rem;
          width: 3.2rem;
        }

        @include mobile_landscape {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
    }

    @include mobile_plus {
      svg {
        font-size: 4rem;
        margin: 0 1rem;
      }
    }

    @include mobile {
      width: 25%;
      flex-direction: column;
      transform: translateX(0%) translateY(0%);
      font-size: 0.75rem;

      svg {
        margin: 0rem;
        font-size: 2.5rem;
      }
    }

    @include mobile_landscape {
      font-size: 0.7rem;
      max-width: 30%;
      width: 30%;
      line-height: 1.2;
      display: flex;

      svg {
        margin: 0 1rem;
        font-size: 3rem;
      }
    }
  }

  @include mobile {
    position: absolute;
    bottom: 1rem;
    transform: translateX(-50%) translateY(0%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  @include mobile_landscape {
    padding: 0.5rem;
    bottom: 3rem;
  }

  .city-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    .name {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 0.25rem;
      width: 100%;
      text-align: center;

      @include mobile_landscape {
      }
    }

    .position {
      opacity: 0.7;
      width: 100%;
      text-align: center;
      @include mobile_landscape {
      }
    }

    @include mobile_landscape {
      max-width: 40%;
      width: 40%;
    }
  }
}

.TopControls {
  z-index: 3;

  padding: 1rem;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  .rhs {
    @include mobile {
      min-width: 40%;
      display: flex;
      justify-content: space-between;
    }
    @include mobile_landscape {
      min-width: 25%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.VrSelector {
  // display: flex;
  display: none;
  align-items: center;

  @include mobile {
    margin: 0 0 0 1rem;
  }

  p {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 0.5rem 0 0;
  }

  .toggle {
    width: 3rem;
    background-color: $color-backdrop;
    height: 1.5rem;
    border-radius: 0.65rem;
    position: relative;

    svg {
      color: white;
    }

    .switch {
      top: 50%;
      background-color: white;
      height: 1.2rem;
      width: 1.2rem;
      position: absolute;
      border-radius: 50%;
      transform: translateX(15%) translateY(-50%);
      left: 0%;

      &.--isVr {
        transform: translateX(-115%) translateY(-50%);
        left: 100%;
      }
    }
  }
}

.ConditionSelector {
  max-width: 10rem;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: hidden;
  max-height: 4.5rem;

  &.--isOpen {
    max-height: 100vh;
    overflow: auto;
  }

  @include mobile_plus {
    max-width: 40%;
  }

  @include tiny-mobile {
    max-width: 8rem;
    font-size: 0.8rem;
  }

  .selected {
    border-radius: 2px;
    cursor: pointer;
    @include button-padding;
    text-transform: capitalize;
    border: white 2px solid;
    background: $color-backdrop;

    @include tiny-mobile {
      font-size: 0.8rem;
    }
  }

  .dropdown {
    border-radius: 2px;
    margin: 0;
    max-height: 20rem;
    overflow-y: scroll;
    border: white 2px solid;
    border-top: none;
    transform: rotateX(90deg);
    background: transparent;
    pointer-events: none;

    .condition-item {
      margin: 0;
      cursor: pointer;
      list-style: none;
      text-transform: capitalize;
      @include button-padding;
      opacity: 0;

      @include tiny-mobile {
        font-size: 0.8rem;
      }
    }

    &.--isOpen {
      pointer-events: all;
      transition: transform 0.2s ease-in;
      transform: rotateX(0deg);

      .condition-item {
        opacity: 1;
        background: $color-backdrop;
        transition: opacity 0.15s ease-in 0.2s;

        &:hover {
          background: white;
          color: $color-backdrop;
        }
      }
    }

    @include mobile_landscape {
      max-height: 30vh;
    }
  }
}

.Intro {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  color: white;
  background-color: white;
  overflow: hidden;
  line-height: 1.4;
  opacity: 1;
  transition: opacity 0.5s ease-in, transform 0.25s ease-out 0s;
  transform: translateY(0%);

  &.--hide {
    transition: opacity 0.5s ease-in, transform 0.25s ease-out 0.5s;
    opacity: 0;
    transform: translateY(-1000%);
  }

  .blur {
    background-size: cover;
    background-position: bottom;
    position: absolute;
    height: 110%;
    top: -9px;
    width: 110%;
    background-color: rgba(255, 255, 255, 0.397);
    filter: blur(15px) brightness(0.6);
    left: -10px;
  }

  .content {
    max-width: 762px;
    h2 {
      text-transform: uppercase;

      @include mobile {
        font-size: 1rem;
      }

      @include mobile_landscape {
        font-size: 1rem;
      }

      @include tall_mobile {
        font-size: revert;
      }
    }

    p {
      @include mobile_landscape {
        font-size: 0.75rem;
      }
    }
  }

  .inner-container {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    border-radius: 0.5rem;
    height: 80%;
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);

    @include mobile {
      height: 85%;
      padding: 1rem;
      margin: 1rem;
    }

    @include mobile_landscape {
      padding: 1rem;
      margin: 1rem;
      height: 90%;
    }

    .button-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon {
        svg {
          font-size: 4rem;

          @include mobile {
            font-size: 3rem;
          }
        }

        @include mobile_landscape {
          display: none;
        }
        @include tiny-mobile {
          display: none;
        }

        margin: 0 0 2rem 0;
      }

      @include mobile_landscape {
        display: hidden;
      }
    }

    button {
      background-color: #2dadca;
      color: white;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 2px 5px 16px 0px rgba(0, 0, 0, 0.329);
    }
  }
}

.Share {
  display: flex;
  position: relative;

  &.--hide {
    overflow: hidden;
  }

  @include mobile {
    flex-direction: column-reverse;
  }

  @include mobile_landscape {
    margin-right: 4rem;
  }

  .button-container {
    display: flex;
    transition: opacity 0.25s ease-in;
    opacity: 1;
    position: absolute;

    @include mobile_plus {
      right: 100%;
    }

    @include mobile {
      flex-direction: column;
      top: 100%;
    }

    &.--hide {
      opacity: 0;
      transition: opacity 0.25s ease-in;
    }
  }

  .share-item {
    .icon-container {
      background-color: $color-backdrop;
      border: white 2px solid;
      width: 2.6rem;
      height: 2.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.5rem;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: $color-backdrop-light;
      }

      svg {
        color: white;
        font-size: 1rem;
      }

      @include mobile {
        margin: 0 0 0.5rem 0;
      }
    }

    &.--code,
    &.--info {
      .icon-container {
        svg {
          font-size: 1.3rem;
        }
      }
    }
  }
}

.orientation {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translateX(-50%) translateY(50%);

  p {
    font-size: 0.6rem;
    color: yellow;
  }
}

.copyright {
  color: rgb(119, 119, 119);
  font-size: 0.75rem;
  letter-spacing: 0.01px;
  line-height: 16.9344px;
}

.a-enter-vr {
  top: 3.4rem !important;
  bottom: revert;

  @include tablet_plus {
    display: none;
  }
}

html.a-fullscreen {
  position: revert;

  .a-canvas {
    position: absolute !important;
  }
}
